.App {
  font-family: sans-serif;
  text-align: center;
}

.cont {
  display: flex;
}

.card {
  margin: 10px;
  max-width: 330px;
}

.card p {
  font-size: 12px;
}

.displayImg {
  width: 330px;
  height: 225px;
  border-radius: 5px;
}

.user {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 50px 25px;
  grid-template-areas: "profilePic userName" "profilePic userLocation" ;
}

.userAvatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-self: center;;
  grid-area: profilePic;
}

.userName {
  grid-area: userName;
  margin: -10;
  padding: 0;
}

.userLocation {
  grid-area: userLocation;
  margin: 0;
  padding: 0;
}

.rating {
  color: #00797e;
  font-size: 20px;
}

.rating i {
  margin: 2px;
  font-size: 14px;
}